.champ-input label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 250px;
}
.champ-input input,
.champ-input textarea,
.champ-input select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--couleur-bleu-pale);

  @media screen and (max-width: 900px) {
    max-width: 40%;
  }
}

.champ-input i {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 20px;
  color: var(--couleur-bleu-nuit);
}
