.nav-sec {
  border-top: 1px solid var(--couleur-bleu-pale);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 0;
  margin-bottom: 0;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.nav-sec > section,
.nav-sec > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-sec div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-sec i {
  font-size: 24px;
  color: var(--couleur-bleu-nuit);

  &:hover {
    color: var(--couleur-or);
  }
}
