.pied-de-site{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0;
      @media screen and (max-width: 900px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
}