.top-banniere {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;

  @media screen and (max-width: 1067px) {
    display: none;
  }
}

.top-banniere a {
  color: #fff;
}

.top-banniere i {
  font-size: 20px;

  &:hover {
    color: var(--couleur-or);
  }
}
