.tri {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  @media screen and (max-width: 1330px) {
    & {
      display: none;
    }
  }
}

.tri form {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;

  & > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 5px;
  } 
}
